.App {
  color: white;
  height: 125vmin;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://i.ibb.co/k08trLb/Rectangle-1.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app-two {
  color: black;
  height: 100vmin;
  background-color: white;
}
